body {
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  background-color:  #999;
  text-align: center;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}

footer {
  font-size: 14px;
  background-color: rgb(46, 46, 54);
  border: 2px solid rgb(65, 48, 48);
  
  margin: 0px;
  padding: 20px 0;
 
}

footer a {
  color: #a6b6c0;
  }
  
.pictures p {
  font-size: 14px;
}